// variable: storing data

$mycolor:darkred;
$mysecondecolor:purple;
#mydiv{
    background-color: $mysecondecolor;



#myname{
    color:$mycolor;

    text-align: center;
    font-size: 53px-23px+10px;

}
#my2id{
    color:white;
    text-align: center;
}

#my3id{
    color:blue;
    text-align: center;

}
}