$mycolor:red;
$secondcolor:blue;
#mydiv{
    background-color: $mycolor;
#myname{
    color:$secondcolor;
    padding: 23px+0.5px;
}
#my2id{
    color: blue;
}
#my3id{
    color: green;
}

}